In [1]:
import pandas as pd
import numpy as np

# Generate series of time

In [2]:
rng = pd.date_range('2018 Apr 7 6:30', periods=10, freq='H')
rng

DatetimeIndex(['2018-04-07 06:30:00', '2018-04-07 07:30:00',
               '2018-04-07 08:30:00', '2018-04-07 09:30:00',
               '2018-04-07 10:30:00', '2018-04-07 11:30:00',
               '2018-04-07 12:30:00', '2018-04-07 13:30:00',
               '2018-04-07 14:30:00', '2018-04-07 15:30:00'],
              dtype='datetime64[ns]', freq='H')

Frequency as Month ('M')
Month starts from the end of month date, you can use 'MS' for start date of month

In [3]:
rng = pd.date_range('2018 Apr 7 6:30', periods=10, freq='M')
rng

DatetimeIndex(['2018-04-30 06:30:00', '2018-05-31 06:30:00',
               '2018-06-30 06:30:00', '2018-07-31 06:30:00',
               '2018-08-31 06:30:00', '2018-09-30 06:30:00',
               '2018-10-31 06:30:00', '2018-11-30 06:30:00',
               '2018-12-31 06:30:00', '2019-01-31 06:30:00'],
              dtype='datetime64[ns]', freq='M')

Frequency as Business month ('B')

In [4]:
rng = pd.date_range('2018 Apr 7 6:30', periods=10, freq='B')
rng

DatetimeIndex(['2018-04-09 06:30:00', '2018-04-10 06:30:00',
               '2018-04-11 06:30:00', '2018-04-12 06:30:00',
               '2018-04-13 06:30:00', '2018-04-16 06:30:00',
               '2018-04-17 06:30:00', '2018-04-18 06:30:00',
               '2018-04-19 06:30:00', '2018-04-20 06:30:00'],
              dtype='datetime64[ns]', freq='B')

There are many other type of frequencies.
List of time series frequencies https://pandas.pydata.org/pandas-docs/stable/timeseries.html#timeseries-offset-aliases

In [5]:
rng = pd.date_range(start='2018 Apr 7', end='2018 Apr 20', freq='8H')
rng

DatetimeIndex(['2018-04-07 00:00:00', '2018-04-07 08:00:00',
               '2018-04-07 16:00:00', '2018-04-08 00:00:00',
               '2018-04-08 08:00:00', '2018-04-08 16:00:00',
               '2018-04-09 00:00:00', '2018-04-09 08:00:00',
               '2018-04-09 16:00:00', '2018-04-10 00:00:00',
               '2018-04-10 08:00:00', '2018-04-10 16:00:00',
               '2018-04-11 00:00:00', '2018-04-11 08:00:00',
               '2018-04-11 16:00:00', '2018-04-12 00:00:00',
               '2018-04-12 08:00:00', '2018-04-12 16:00:00',
               '2018-04-13 00:00:00', '2018-04-13 08:00:00',
               '2018-04-13 16:00:00', '2018-04-14 00:00:00',
               '2018-04-14 08:00:00', '2018-04-14 16:00:00',
               '2018-04-15 00:00:00', '2018-04-15 08:00:00',
               '2018-04-15 16:00:00', '2018-04-16 00:00:00',
               '2018-04-16 08:00:00', '2018-04-16 16:00:00',
               '2018-04-17 00:00:00', '2018-04-17 08:00:00',
               '2018-04-17 16:00:00', '2018-04-18 00:00:00',
               '2018-04-18 08:00:00', '2018-04-18 16:00:00',
               '2018-04-19 00:00:00', '2018-04-19 08:00:00',
               '2018-04-19 16:00:00', '2018-04-20 00:00:00'],
              dtype='datetime64[ns]', freq='8H')

Or it can be done using datetime

In [6]:
start=pd.datetime(2018, 4, 1)
end = pd.datetime(2018, 4, 20)
rng = pd.date_range(start, end, freq='D')
rng

DatetimeIndex(['2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04',
               '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08',
               '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12',
               '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16',
               '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20'],
              dtype='datetime64[ns]', freq='D')

In [7]:
rng = pd.date_range('2018 Apr 7', periods=10, freq='D', tz='Asia/Kolkata')
rng

DatetimeIndex(['2018-04-07 00:00:00+05:30', '2018-04-08 00:00:00+05:30',
               '2018-04-09 00:00:00+05:30', '2018-04-10 00:00:00+05:30',
               '2018-04-11 00:00:00+05:30', '2018-04-12 00:00:00+05:30',
               '2018-04-13 00:00:00+05:30', '2018-04-14 00:00:00+05:30',
               '2018-04-15 00:00:00+05:30', '2018-04-16 00:00:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', freq='D')

In [8]:
rng = pd.date_range('2018 Apr 7 6:00', periods=10, freq='D', normalize=True)
rng

DatetimeIndex(['2018-04-07', '2018-04-08', '2018-04-09', '2018-04-10',
               '2018-04-11', '2018-04-12', '2018-04-13', '2018-04-14',
               '2018-04-15', '2018-04-16'],
              dtype='datetime64[ns]', freq='D')

# Dates format

In [111]:
rng = pd.date_range('2018 Apr 7', periods=10, freq='D')
print(rng)

# MM/DD/YYYY
rng = pd.date_range('4/7/2018', periods=10, freq='D')
print(rng)

rng = pd.date_range('April 7, 2018', periods=10, freq='D')
print(rng)

# YYYY/MM/DD
rng = pd.date_range('2018-04-07', periods=10, freq='D')
print(rng)

'''
# DD/MM/YYYY 
rng = pd.date_range('07-04-2018', periods=10, freq='D')
print(rng)
'''

DatetimeIndex(['2018-04-07', '2018-04-08', '2018-04-09', '2018-04-10',
               '2018-04-11', '2018-04-12', '2018-04-13', '2018-04-14',
               '2018-04-15', '2018-04-16'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2018-04-07', '2018-04-08', '2018-04-09', '2018-04-10',
               '2018-04-11', '2018-04-12', '2018-04-13', '2018-04-14',
               '2018-04-15', '2018-04-16'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2018-04-07', '2018-04-08', '2018-04-09', '2018-04-10',
               '2018-04-11', '2018-04-12', '2018-04-13', '2018-04-14',
               '2018-04-15', '2018-04-16'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2018-04-07', '2018-04-08', '2018-04-09', '2018-04-10',
               '2018-04-11', '2018-04-12', '2018-04-13', '2018-04-14',
               '2018-04-15', '2018-04-16'],
              dtype='datetime64[ns]', freq='D')

"\n# DD/MM/YYYY \nrng = pd.date_range('07-04-2018', periods=10, freq='D')\nprint(rng)\n"

# Timestamp
Represent a single timestamp

In [10]:
pd.Timestamp('2018-4-7')

Timestamp('2018-04-07 00:00:00')

In [11]:
pd.Timestamp('2018-4-7 7:00:01.12345678')

Timestamp('2018-04-07 07:00:01.123456780')

Timestamp properties <br />
http://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components

In [12]:
t = pd.Timestamp('2018-4-7 7 pm')
t

Timestamp('2018-04-07 19:00:00')

In [13]:
print(t.year)
print(t.month)
print(t.quarter)
print(t.dayofweek) # Monday=0...Sunday=6

2018
4
2
5

# Time Offsets

In [14]:
pd.Timedelta('1 day 1us')

Timedelta('1 days 00:00:00.000001')

In [25]:
pd.Timestamp('2018-04-07 8:00') + pd.Timedelta('1.5 hours')

Timestamp('2018-04-07 09:30:00')

In [34]:
pd.Timedelta('15ns')*1000

Timedelta('0 days 00:00:00.000015')

In [36]:
rng = pd.date_range('2018/04/07', periods=10, freq='M')
rng

DatetimeIndex(['2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31',
               '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30',
               '2018-12-31', '2019-01-31'],
              dtype='datetime64[ns]', freq='M')

In [38]:
print(rng)
rng + pd.Timedelta('1day') # See the last line of output 'freq'

DatetimeIndex(['2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31',
               '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30',
               '2018-12-31', '2019-01-31'],
              dtype='datetime64[ns]', freq='M')

DatetimeIndex(['2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01',
               '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01',
               '2019-01-01', '2019-02-01'],
              dtype='datetime64[ns]', freq='MS')

# Time Spans
Period represents an interval while a Timestamp represents a point in time.

In [58]:
p = pd.Period('7/2016')
t = pd.Timestamp('7/21/2016')
print('Start Time: ', p.start_time)
print('End Time: ', p.end_time)
print(t)
p.start_time < t and p.end_time > t # Whether timestamp fall within the given period

Start Time:  2016-07-01 00:00:00
End Time:  2016-07-31 23:59:59.999999999
2016-07-21 00:00:00

True

In [18]:
rng = pd.period_range('2018-04-08 20:30', freq='H', periods=10)
rng

PeriodIndex(['2018-04-08 20:00', '2018-04-08 21:00', '2018-04-08 22:00',
             '2018-04-08 23:00', '2018-04-09 00:00', '2018-04-09 01:00',
             '2018-04-09 02:00', '2018-04-09 03:00', '2018-04-09 04:00',
             '2018-04-09 05:00'],
            dtype='period[H]', freq='H')

Above the time starts from 20:00 though passing as 20:30 so we change the frequency to 60T as shown below

In [43]:
rng = pd.period_range('2018-04-08 20:30', freq='D', periods=10) # Time goes off
rng

PeriodIndex(['2018-04-08', '2018-04-09', '2018-04-10', '2018-04-11',
             '2018-04-12', '2018-04-13', '2018-04-14', '2018-04-15',
             '2018-04-16', '2018-04-17'],
            dtype='period[D]', freq='D')

Here the difference between **date_range** and <b>period_range</b> with change in frequency

In [44]:
rng = pd.date_range('2018-04-08 20:30', freq='D', periods=10)
rng

DatetimeIndex(['2018-04-08 20:30:00', '2018-04-09 20:30:00',
               '2018-04-10 20:30:00', '2018-04-11 20:30:00',
               '2018-04-12 20:30:00', '2018-04-13 20:30:00',
               '2018-04-14 20:30:00', '2018-04-15 20:30:00',
               '2018-04-16 20:30:00', '2018-04-17 20:30:00'],
              dtype='datetime64[ns]', freq='D')

In [49]:
rng = pd.period_range('2018-04-08 20:30', freq='60T', periods=10) # 60T = 60 mins = 1 hour
rng

PeriodIndex(['2018-04-08 20:30', '2018-04-08 21:30', '2018-04-08 22:30',
             '2018-04-08 23:30', '2018-04-09 00:30', '2018-04-09 01:30',
             '2018-04-09 02:30', '2018-04-09 03:30', '2018-04-09 04:30',
             '2018-04-09 05:30'],
            dtype='period[60T]', freq='60T')

In [57]:
rng = pd.period_range('2018-04-08', freq='W-SUN', periods=10) # Weekly Sunday
rng

PeriodIndex(['2018-04-02/2018-04-08', '2018-04-09/2018-04-15',
             '2018-04-16/2018-04-22', '2018-04-23/2018-04-29',
             '2018-04-30/2018-05-06', '2018-05-07/2018-05-13',
             '2018-05-14/2018-05-20', '2018-05-21/2018-05-27',
             '2018-05-28/2018-06-03', '2018-06-04/2018-06-10'],
            dtype='period[W-SUN]', freq='W-SUN')

**Index** a panda series with a **data_range**

In [94]:
num_periods = 100
ts_data = pd.Series(range(num_periods), pd.date_range('2018-04-08 00:30', freq='60T', periods=num_periods))
print(ts_data.head())
print(type(ts_data.index))
print(type(ts_data.index[0]))

# We have datetime indexes they hold timestamp

2018-04-08 00:30:00    0
2018-04-08 01:30:00    1
2018-04-08 02:30:00    2
2018-04-08 03:30:00    3
2018-04-08 04:30:00    4
Freq: 60T, dtype: int64
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
<class 'pandas._libs.tslib.Timestamp'>

In [71]:
print(ts_data['2018-04-08 11:00'])
# OR
print(ts_data['2018 Apr 8 12'])

11
12

**Index** a panda series with **period_range**

In [95]:
num_periods = 100
ts_pd = pd.Series(range(num_periods), pd.period_range('2018-04-08 00:30', freq='60T', periods=num_periods))
print(ts_pd.head())
print(type(ts_pd.index))
print(type(ts_pd.index[0]))

2018-04-08 00:30    0
2018-04-08 01:30    1
2018-04-08 02:30    2
2018-04-08 03:30    3
2018-04-08 04:30    4
Freq: 60T, dtype: int64
<class 'pandas.core.indexes.period.PeriodIndex'>
<class 'pandas._libs.period.Period'>

Convert date_range to period_range

In [96]:
ts_period = ts_data.to_period(freq='60T')
print(ts_period.head())
print(type(ts_period.index))
print(type(ts_period.index[0]))

2018-04-08 00:30    0
2018-04-08 01:30    1
2018-04-08 02:30    2
2018-04-08 03:30    3
2018-04-08 04:30    4
Freq: 60T, dtype: int64
<class 'pandas.core.indexes.period.PeriodIndex'>
<class 'pandas._libs.period.Period'>

# Indexes
Working with datetime index

In [89]:
ts_data['2018-04-08 12']

2018-04-08 12:30:00    12
Freq: 60T, dtype: int64

In [91]:
ts_period['2018-04-08 12']

2018-04-08 12:30    12
2018-04-08 13:30    13
Freq: 60T, dtype: int64

In [97]:
ts_period['2018-04-08']

2018-04-08 00:30     0
2018-04-08 01:30     1
2018-04-08 02:30     2
2018-04-08 03:30     3
2018-04-08 04:30     4
2018-04-08 05:30     5
2018-04-08 06:30     6
2018-04-08 07:30     7
2018-04-08 08:30     8
2018-04-08 09:30     9
2018-04-08 10:30    10
2018-04-08 11:30    11
2018-04-08 12:30    12
2018-04-08 13:30    13
2018-04-08 14:30    14
2018-04-08 15:30    15
2018-04-08 16:30    16
2018-04-08 17:30    17
2018-04-08 18:30    18
2018-04-08 19:30    19
2018-04-08 20:30    20
2018-04-08 21:30    21
2018-04-08 22:30    22
2018-04-08 23:30    23
2018-04-09 00:30    24
Freq: 60T, dtype: int64

In [107]:
ts_period['2018-04-08':'2018-04-12'] # Using string as index it include the string value also unlike other indexes

2018-04-08 00:30     0
2018-04-08 01:30     1
2018-04-08 02:30     2
2018-04-08 03:30     3
2018-04-08 04:30     4
2018-04-08 05:30     5
2018-04-08 06:30     6
2018-04-08 07:30     7
2018-04-08 08:30     8
2018-04-08 09:30     9
2018-04-08 10:30    10
2018-04-08 11:30    11
2018-04-08 12:30    12
2018-04-08 13:30    13
2018-04-08 14:30    14
2018-04-08 15:30    15
2018-04-08 16:30    16
2018-04-08 17:30    17
2018-04-08 18:30    18
2018-04-08 19:30    19
2018-04-08 20:30    20
2018-04-08 21:30    21
2018-04-08 22:30    22
2018-04-08 23:30    23
2018-04-09 00:30    24
2018-04-09 01:30    25
2018-04-09 02:30    26
2018-04-09 03:30    27
2018-04-09 04:30    28
2018-04-09 05:30    29
                    ..
2018-04-10 22:30    70
2018-04-10 23:30    71
2018-04-11 00:30    72
2018-04-11 01:30    73
2018-04-11 02:30    74
2018-04-11 03:30    75
2018-04-11 04:30    76
2018-04-11 05:30    77
2018-04-11 06:30    78
2018-04-11 07:30    79
2018-04-11 08:30    80
2018-04-11 09:30    81
2018-04-11 10:30    82
2018-04-11 11:30    83
2018-04-11 12:30    84
2018-04-11 13:30    85
2018-04-11 14:30    86
2018-04-11 15:30    87
2018-04-11 16:30    88
2018-04-11 17:30    89
2018-04-11 18:30    90
2018-04-11 19:30    91
2018-04-11 20:30    92
2018-04-11 21:30    93
2018-04-11 22:30    94
2018-04-11 23:30    95
2018-04-12 00:30    96
2018-04-12 01:30    97
2018-04-12 02:30    98
2018-04-12 03:30    99
Freq: 60T, Length: 100, dtype: int64

Create a Timestamp with a European style formatted date string.

In [113]:
# 8 April 2018
pd.to_datetime('8/4/2018', dayfirst=True)  # day first euro format

Timestamp('2018-04-08 00:00:00')

In [117]:
pd.to_datetime('8/4/2018', dayfirst=True).strftime(format='%Y-%m-%d')  # M-minute,

'2018-04-08'

In [119]:
ts_pd[pd.Period('Apr 8, 2018 10', freq='60T')::3]
# Indexes with interval of 3 hours

2018-04-08 10:30    10
2018-04-08 13:30    13
2018-04-08 16:30    16
2018-04-08 19:30    19
2018-04-08 22:30    22
2018-04-09 01:30    25
2018-04-09 04:30    28
2018-04-09 07:30    31
2018-04-09 10:30    34
2018-04-09 13:30    37
2018-04-09 16:30    40
2018-04-09 19:30    43
2018-04-09 22:30    46
2018-04-10 01:30    49
2018-04-10 04:30    52
2018-04-10 07:30    55
2018-04-10 10:30    58
2018-04-10 13:30    61
2018-04-10 16:30    64
2018-04-10 19:30    67
2018-04-10 22:30    70
2018-04-11 01:30    73
2018-04-11 04:30    76
2018-04-11 07:30    79
2018-04-11 10:30    82
2018-04-11 13:30    85
2018-04-11 16:30    88
2018-04-11 19:30    91
2018-04-11 22:30    94
2018-04-12 01:30    97
Freq: 60T, dtype: int64

In [122]:
# Without pd.Period
ts_pd['Apr 8, 2018 10'::3]

2018-04-08 10:30    10
2018-04-08 13:30    13
2018-04-08 16:30    16
2018-04-08 19:30    19
2018-04-08 22:30    22
2018-04-09 01:30    25
2018-04-09 04:30    28
2018-04-09 07:30    31
2018-04-09 10:30    34
2018-04-09 13:30    37
2018-04-09 16:30    40
2018-04-09 19:30    43
2018-04-09 22:30    46
2018-04-10 01:30    49
2018-04-10 04:30    52
2018-04-10 07:30    55
2018-04-10 10:30    58
2018-04-10 13:30    61
2018-04-10 16:30    64
2018-04-10 19:30    67
2018-04-10 22:30    70
2018-04-11 01:30    73
2018-04-11 04:30    76
2018-04-11 07:30    79
2018-04-11 10:30    82
2018-04-11 13:30    85
2018-04-11 16:30    88
2018-04-11 19:30    91
2018-04-11 22:30    94
2018-04-12 01:30    97
Freq: 60T, dtype: int64

In [123]:
ts_pd['Apr 9, 2018 00:00'::-1]

2018-04-08 23:30    23
2018-04-08 22:30    22
2018-04-08 21:30    21
2018-04-08 20:30    20
2018-04-08 19:30    19
2018-04-08 18:30    18
2018-04-08 17:30    17
2018-04-08 16:30    16
2018-04-08 15:30    15
2018-04-08 14:30    14
2018-04-08 13:30    13
2018-04-08 12:30    12
2018-04-08 11:30    11
2018-04-08 10:30    10
2018-04-08 09:30     9
2018-04-08 08:30     8
2018-04-08 07:30     7
2018-04-08 06:30     6
2018-04-08 05:30     5
2018-04-08 04:30     4
2018-04-08 03:30     3
2018-04-08 02:30     2
2018-04-08 01:30     1
2018-04-08 00:30     0
Freq: 60T, dtype: int64