In [1]:
import pandas as pd
import numpy as np

In [2]:
rng = pd.date_range('23/4/2018 00:00', periods=15, freq='d')
print(rng.tz)

None

In [3]:
rng = pd.date_range('23/4/2018 00:00', periods=15, freq='d', tz='Europe/London')
rng.tz

# Getting lists of time zone

In [4]:
from pytz import common_timezones, all_timezones

#---------------
print(len(common_timezones))
print(len(all_timezones))

439
593

In [5]:
set(all_timezones) - set(common_timezones)

{'Africa/Asmera',
 'Africa/Timbuktu',
 'America/Argentina/ComodRivadavia',
 'America/Atka',
 'America/Buenos_Aires',
 'America/Catamarca',
 'America/Coral_Harbour',
 'America/Cordoba',
 'America/Ensenada',
 'America/Fort_Wayne',
 'America/Indianapolis',
 'America/Jujuy',
 'America/Knox_IN',
 'America/Louisville',
 'America/Mendoza',
 'America/Montreal',
 'America/Porto_Acre',
 'America/Rosario',
 'America/Santa_Isabel',
 'America/Shiprock',
 'America/Virgin',
 'Antarctica/South_Pole',
 'Asia/Ashkhabad',
 'Asia/Calcutta',
 'Asia/Chongqing',
 'Asia/Chungking',
 'Asia/Dacca',
 'Asia/Harbin',
 'Asia/Istanbul',
 'Asia/Kashgar',
 'Asia/Katmandu',
 'Asia/Macao',
 'Asia/Rangoon',
 'Asia/Saigon',
 'Asia/Tel_Aviv',
 'Asia/Thimbu',
 'Asia/Ujung_Pandang',
 'Asia/Ulan_Bator',
 'Atlantic/Faeroe',
 'Atlantic/Jan_Mayen',
 'Australia/ACT',
 'Australia/Canberra',
 'Australia/LHI',
 'Australia/NSW',
 'Australia/North',
 'Australia/Queensland',
 'Australia/South',
 'Australia/Tasmania',
 'Australia/Victoria',
 'Australia/West',
 'Australia/Yancowinna',
 'Brazil/Acre',
 'Brazil/DeNoronha',
 'Brazil/East',
 'Brazil/West',
 'CET',
 'CST6CDT',
 'Canada/East-Saskatchewan',
 'Canada/Saskatchewan',
 'Canada/Yukon',
 'Chile/Continental',
 'Chile/EasterIsland',
 'Cuba',
 'EET',
 'EST',
 'EST5EDT',
 'Egypt',
 'Eire',
 'Etc/GMT',
 'Etc/GMT+0',
 'Etc/GMT+1',
 'Etc/GMT+10',
 'Etc/GMT+11',
 'Etc/GMT+12',
 'Etc/GMT+2',
 'Etc/GMT+3',
 'Etc/GMT+4',
 'Etc/GMT+5',
 'Etc/GMT+6',
 'Etc/GMT+7',
 'Etc/GMT+8',
 'Etc/GMT+9',
 'Etc/GMT-0',
 'Etc/GMT-1',
 'Etc/GMT-10',
 'Etc/GMT-11',
 'Etc/GMT-12',
 'Etc/GMT-13',
 'Etc/GMT-14',
 'Etc/GMT-2',
 'Etc/GMT-3',
 'Etc/GMT-4',
 'Etc/GMT-5',
 'Etc/GMT-6',
 'Etc/GMT-7',
 'Etc/GMT-8',
 'Etc/GMT-9',
 'Etc/GMT0',
 'Etc/Greenwich',
 'Etc/UCT',
 'Etc/UTC',
 'Etc/Universal',
 'Etc/Zulu',
 'Europe/Belfast',
 'Europe/Nicosia',
 'Europe/Tiraspol',
 'GB',
 'GB-Eire',
 'GMT+0',
 'GMT-0',
 'GMT0',
 'Greenwich',
 'HST',
 'Hongkong',
 'Iceland',
 'Iran',
 'Israel',
 'Jamaica',
 'Japan',
 'Kwajalein',
 'Libya',
 'MET',
 'MST',
 'MST7MDT',
 'Mexico/BajaNorte',
 'Mexico/BajaSur',
 'Mexico/General',
 'NZ',
 'NZ-CHAT',
 'Navajo',
 'PRC',
 'PST8PDT',
 'Pacific/Johnston',
 'Pacific/Ponape',
 'Pacific/Samoa',
 'Pacific/Truk',
 'Pacific/Yap',
 'Poland',
 'Portugal',
 'ROC',
 'ROK',
 'Singapore',
 'Turkey',
 'UCT',
 'US/Aleutian',
 'US/East-Indiana',
 'US/Indiana-Starke',
 'US/Michigan',
 'US/Pacific-New',
 'US/Samoa',
 'Universal',
 'W-SU',
 'WET',
 'Zulu'}

# Localizing a Timestamp

In [6]:
t_naive = pd.Timestamp('2018-04-20 8:00')
t_naive

Timestamp('2018-04-20 08:00:00')

In [7]:
t = t_naive.tz_localize(tz='Asia/Kolkata')
t

Timestamp('2018-04-20 08:00:00+0530', tz='Asia/Kolkata')

In [8]:
t_naive

Timestamp('2018-04-20 08:00:00')

In [9]:
t.tz_convert('Asia/Tokyo')

Timestamp('2018-04-20 11:30:00+0900', tz='Asia/Tokyo')

In [10]:
t.tz_convert('US/Central')

Timestamp('2018-04-19 21:30:00-0500', tz='US/Central')

In [11]:
t

Timestamp('2018-04-20 08:00:00+0530', tz='Asia/Kolkata')

# Ambiguous times

In [12]:
ts = pd.Series(range(10), pd.date_range('2018-04-10', periods=10, tz='US/Eastern'))
ts

2018-04-10 00:00:00-04:00    0
2018-04-11 00:00:00-04:00    1
2018-04-12 00:00:00-04:00    2
2018-04-13 00:00:00-04:00    3
2018-04-14 00:00:00-04:00    4
2018-04-15 00:00:00-04:00    5
2018-04-16 00:00:00-04:00    6
2018-04-17 00:00:00-04:00    7
2018-04-18 00:00:00-04:00    8
2018-04-19 00:00:00-04:00    9
Freq: D, dtype: int64

In [13]:
# Ambiguous dates
rng_hourly = pd.DatetimeIndex(['04/08/2018 00:00', '04/08/2018 01:00', '04/08/2018 01:00',\
                               '04/08/2018 02:00', '04/08/2018 03:00', '04/08/2018 04:00'])
rng_hourly

DatetimeIndex(['2018-04-08 00:00:00', '2018-04-08 01:00:00',
               '2018-04-08 01:00:00', '2018-04-08 02:00:00',
               '2018-04-08 03:00:00', '2018-04-08 04:00:00'],
              dtype='datetime64[ns]', freq=None)

In [14]:
rng_hourly.tz_localize('US/Central', ambiguous='infer')

DatetimeIndex(['2018-04-08 00:00:00-05:00', '2018-04-08 01:00:00-05:00',
               '2018-04-08 01:00:00-05:00', '2018-04-08 02:00:00-05:00',
               '2018-04-08 03:00:00-05:00', '2018-04-08 04:00:00-05:00'],
              dtype='datetime64[ns, US/Central]', freq=None)