In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab
%matplotlib inline

In [2]:
with open('data/monthly-ao.txt') as f:
    for x in range(5):
        print(next(f))

 1950    1  -0.60310E-01

 1950    2   0.62681E+00

 1950    3  -0.81275E-02

 1950    4   0.55510E+00

 1950    5   0.71577E-01

In [3]:
# pandas 'read_fwf'- read fixed width file
data = pd.read_fwf('data/monthly-ao.txt', header=None)
data.head()

      0  1         2
0  1950  1 -0.060310
1  1950  2  0.626810
2  1950  3 -0.008128
3  1950  4  0.555100
4  1950  5  0.071577

In [4]:
data[1:13] # So it's a monthy data

       0   1         2
1   1950   2  0.626810
2   1950   3 -0.008128
3   1950   4  0.555100
4   1950   5  0.071577
5   1950   6  0.538570
6   1950   7 -0.802480
7   1950   8 -0.851010
8   1950   9  0.357970
9   1950  10 -0.378900
10  1950  11 -0.515110
11  1950  12 -1.928100
12  1951   1 -0.084969

In [5]:
data = pd.read_fwf('data/monthly-ao.txt', header=None, index_col=0, parse_dates=[[0,1]], infer_datetime_format=True)
data.head(12)

                   2
0_1
1950-01-01 -0.060310
1950-02-01  0.626810
1950-03-01 -0.008128
1950-04-01  0.555100
1950-05-01  0.071577
1950-06-01  0.538570
1950-07-01 -0.802480
1950-08-01 -0.851010
1950-09-01  0.357970
1950-10-01 -0.378900
1950-11-01 -0.515110
1950-12-01 -1.928100

In [6]:
data.index

DatetimeIndex(['1950-01-01', '1950-02-01', '1950-03-01', '1950-04-01',
               '1950-05-01', '1950-06-01', '1950-07-01', '1950-08-01',
               '1950-09-01', '1950-10-01',
               ...
               '2017-06-01', '2017-07-01', '2017-08-01', '2017-09-01',
               '2017-10-01', '2017-11-01', '2017-12-01', '2018-01-01',
               '2018-02-01', '2018-03-01'],
              dtype='datetime64[ns]', name='0_1', length=819, freq=None)

In [7]:
data.index.names = ['Month']
data.columns = ['Value']
data.head()

               Value
Month
1950-01-01 -0.060310
1950-02-01  0.626810
1950-03-01 -0.008128
1950-04-01  0.555100
1950-05-01  0.071577

# Range of dates

In [8]:
min(data.index)

Timestamp('1950-01-01 00:00:00')

In [9]:
max(data.index)

Timestamp('2018-03-01 00:00:00')

In [10]:
type(data.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [11]:
data = data.to_period()
data.head()

            Value
Month
1950-01 -0.060310
1950-02  0.626810
1950-03 -0.008128
1950-04  0.555100
1950-05  0.071577

# More about reading the data
When reading in dates with a pd.read_fwf function, you have several time-related parameters you can adjust:<br />
**parse_dates, infer_datetime_format, date_parse**
<br /><br />
Experiment with these using %timeit to see if there are parameter difference

In [12]:
import timeit
dateparse = lambda x, y: pd.datetime.strptime('%s-%s' % (x, y), '%Y-%m')

print("infer_datetime_format = True, no date parser")
%timeit pd.read_fwf('data/monthly-ao.txt',\
                    header=None,\
                    index_col=0,\
                    parse_dates=[[0,1]],\
                    infer_datetime_format=True)

print("\ninfer_datetime_format = False, no date parser")
%timeit pd.read_fwf('data/monthly-ao.txt',\
                    header=None,\
                    index_col=0,\
                    parse_dates=[[0,1]],\
                    infer_datetime_format=False)

print("\ninfer_datetime_format = True, date parser provided")
%timeit pd.read_fwf('data/monthly-ao.txt',\
                    header=None,\
                    index_col=0,\
                    parse_dates=[[0,1]],\
                    infer_datetime_format=True,\
                    date_parser=dateparse)

print("\ninfer_datetime_format = False, date parser provided")
%timeit pd.read_fwf('data/monthly-ao.txt',\
                    header=None,\
                    index_col=0,\
                    parse_dates=[[0,1]],\
                    infer_datetime_format=False,\
                    date_parser=dateparse)

infer_datetime_format = True, no date parser
9.42 ms ± 908 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

infer_datetime_format = False, no date parser
8.17 ms ± 637 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

infer_datetime_format = True, date parser provided
30.9 ms ± 2.56 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

infer_datetime_format = False, date parser provided
31.3 ms ± 2.72 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

# Extract datetime from existing dataframe

In [13]:
df = pd.DataFrame({'year':[2017, 2018], 'month':[1,1], 'day':[4, 5], 'hour':[10, 12]})
df

   day  hour  month  year
0    4    10      1  2017
1    5    12      1  2018

In [14]:
pd.to_datetime(df)

0   2017-01-04 10:00:00
1   2018-01-05 12:00:00
dtype: datetime64[ns]

# Truncate

In [15]:
ts = pd.Series(range(10), index=pd.date_range('04/10/2018', freq='M', periods=10)) # 10 Apr, 2018
ts

2018-04-30    0
2018-05-31    1
2018-06-30    2
2018-07-31    3
2018-08-31    4
2018-09-30    5
2018-10-31    6
2018-11-30    7
2018-12-31    8
2019-01-31    9
Freq: M, dtype: int64

In [16]:
ts.truncate(before='5/31/2018', after='12/31/2018') # May to December

2018-05-31    1
2018-06-30    2
2018-07-31    3
2018-08-31    4
2018-09-30    5
2018-10-31    6
2018-11-30    7
2018-12-31    8
Freq: M, dtype: int64

In [17]:
ts[[1, 6, 7]].index

DatetimeIndex(['2018-05-31', '2018-10-31', '2018-11-30'], dtype='datetime64[ns]', freq=None)

In [18]:
ts[0:10:2]

2018-04-30    0
2018-06-30    2
2018-08-31    4
2018-10-31    6
2018-12-31    8
Freq: 2M, dtype: int64