In [1]:
import numpy as np
import pandas as pd

In [5]:
rng = pd.date_range('4/12/2018', periods=72, freq='H')

In [14]:
ts = pd.Series(list(range(len(rng))), index=rng)

In [18]:
# ffill will fill the values wher value are not present in 45 Min interval eg. in ts 00:45 was not present but its present here so fill it by ffill
converted = ts.asfreq('45Min', method='ffill') 
converted.head(15)

2018-04-12 00:00:00     0
2018-04-12 00:45:00     0
2018-04-12 01:30:00     1
2018-04-12 02:15:00     2
2018-04-12 03:00:00     3
2018-04-12 03:45:00     3
2018-04-12 04:30:00     4
2018-04-12 05:15:00     5
2018-04-12 06:00:00     6
2018-04-12 06:45:00     6
2018-04-12 07:30:00     7
2018-04-12 08:15:00     8
2018-04-12 09:00:00     9
2018-04-12 09:45:00     9
2018-04-12 10:30:00    10
Freq: 45T, dtype: int64

In [19]:
print(ts.shape)
print(converted.shape)

(72,)
(95,)

In [20]:
converted = ts.asfreq('3H')
converted

2018-04-12 00:00:00     0
2018-04-12 03:00:00     3
2018-04-12 06:00:00     6
2018-04-12 09:00:00     9
2018-04-12 12:00:00    12
2018-04-12 15:00:00    15
2018-04-12 18:00:00    18
2018-04-12 21:00:00    21
2018-04-13 00:00:00    24
2018-04-13 03:00:00    27
2018-04-13 06:00:00    30
2018-04-13 09:00:00    33
2018-04-13 12:00:00    36
2018-04-13 15:00:00    39
2018-04-13 18:00:00    42
2018-04-13 21:00:00    45
2018-04-14 00:00:00    48
2018-04-14 03:00:00    51
2018-04-14 06:00:00    54
2018-04-14 09:00:00    57
2018-04-14 12:00:00    60
2018-04-14 15:00:00    63
2018-04-14 18:00:00    66
2018-04-14 21:00:00    69
Freq: 3H, dtype: int64

# Resample

In [23]:
ts.resample('2H').mean()

2018-04-12 00:00:00     0.5
2018-04-12 02:00:00     2.5
2018-04-12 04:00:00     4.5
2018-04-12 06:00:00     6.5
2018-04-12 08:00:00     8.5
2018-04-12 10:00:00    10.5
2018-04-12 12:00:00    12.5
2018-04-12 14:00:00    14.5
2018-04-12 16:00:00    16.5
2018-04-12 18:00:00    18.5
2018-04-12 20:00:00    20.5
2018-04-12 22:00:00    22.5
2018-04-13 00:00:00    24.5
2018-04-13 02:00:00    26.5
2018-04-13 04:00:00    28.5
2018-04-13 06:00:00    30.5
2018-04-13 08:00:00    32.5
2018-04-13 10:00:00    34.5
2018-04-13 12:00:00    36.5
2018-04-13 14:00:00    38.5
2018-04-13 16:00:00    40.5
2018-04-13 18:00:00    42.5
2018-04-13 20:00:00    44.5
2018-04-13 22:00:00    46.5
2018-04-14 00:00:00    48.5
2018-04-14 02:00:00    50.5
2018-04-14 04:00:00    52.5
2018-04-14 06:00:00    54.5
2018-04-14 08:00:00    56.5
2018-04-14 10:00:00    58.5
2018-04-14 12:00:00    60.5
2018-04-14 14:00:00    62.5
2018-04-14 16:00:00    64.5
2018-04-14 18:00:00    66.5
2018-04-14 20:00:00    68.5
2018-04-14 22:00:00    70.5
Freq: 2H, dtype: float64

We can also use resample to event out irregular time series

In [34]:
irreg_ts = ts[list(np.random.choice(a = list(range(len(ts))), size=10, replace=False))]
irreg_ts

2018-04-13 21:00:00    45
2018-04-14 00:00:00    48
2018-04-12 05:00:00     5
2018-04-12 08:00:00     8
2018-04-12 17:00:00    17
2018-04-13 20:00:00    44
2018-04-12 00:00:00     0
2018-04-12 10:00:00    10
2018-04-13 01:00:00    25
2018-04-12 23:00:00    23
dtype: int64

In [35]:
irreg_ts.asfreq('D')

Series([], Freq: D, dtype: int64)

No output since they are non-consecutive, so lets reorder first

In [36]:
irreg_ts = irreg_ts.sort_index()
irreg_ts

2018-04-12 00:00:00     0
2018-04-12 05:00:00     5
2018-04-12 08:00:00     8
2018-04-12 10:00:00    10
2018-04-12 17:00:00    17
2018-04-12 23:00:00    23
2018-04-13 01:00:00    25
2018-04-13 20:00:00    44
2018-04-13 21:00:00    45
2018-04-14 00:00:00    48
dtype: int64

In [43]:
irreg_ts.asfreq('D')

2018-04-12     0.0
2018-04-13     NaN
2018-04-14    48.0
Freq: D, dtype: float64

In [41]:
irreg_ts.resample('D').count()

2018-04-12    6
2018-04-13    3
2018-04-14    1
Freq: D, dtype: int64